<template id="weatherapp-widget">
  <div class="weatherapp-widget" aria-labelledby="Weatherapp">
    <div class="time-date">
      <div class="time">
        <ch5-datetime
          id="ch5-datetime_id"
          customclass="ch5-time"
          display24HourFormat="false"
          displayAmPm="true"
          displayTwoDigitsHour="true"
          displaySeconds="false"
          horizontalAlignment="center"
          displayType="time"
          timeOffsetHours="0">
        </ch5-datetime>
      </div>
      <div class="date">
        <ch5-datetime
          id="ch5-datetime_id"
          display24HourFormat="true"
          displayAmPm="true"
          displayTwoDigitsHour="true"
          displaySeconds="false"
          styleForDate="MM-dd-yyyy"
          horizontalAlignment="center"
          displayType="date"
          timeOffsetHours="0">
        </ch5-datetime>
      </div>
    </div>

    <div class="current-info">
      <div class="others" id="current-weather-items">
        <div class="row">
          <div class="col">
            <div class="current-image">
              <ch5-image alt="weather icon"
              height="200px"
              width="200px"
              url="./app/project/assets/img/WeatherIcon/10d@4x.png">
            </ch5-image>
            </div>
          </div>
          <div class="col">
            <div class="place-container">
              <div class="time-zone"> 
                <ch5-jointotext-string receiveStateValue="MainPage.Weather.Current_Location"
                textWhenEmpty="Asia/Baku"></ch5-jointotext-string>
              </div>
              <div class="country">
              <ch5-jointotext-string receiveStateValue="MainPage.Weather.Current_Coordinates"
                  textWhenEmpty="40.4546N / 49.7387E">
              </ch5-jointotext-string>
                
              </div>
            </div>
          </div>
        </div>
        <div class="weather-item">
          <div>Humidity</div>
          <div>
            <ch5-jointotext-numeric receiveStateValue="MainPage.Current_HumidityPercentState"
              type="signed"><span>%</span>
            </ch5-jointotext-numeric>
          </div>
        </div>
        <div class="weather-item">
          <div>Pressure</div>
          <div><ch5-jointotext-string receiveStateValue="MainPage.Current_PressureState" textwhenempty="1033">
          </ch5-jointotext-string></div>
        </div>
        <div class="weather-item">
          <div>Wind Speed</div>
          <div>
            <ch5-jointotext-string receiveStateValue="MainPage.Current_WindSpeedState"
            textWhenEmpty="5.28">
          </ch5-jointotext-string>
          </div>
        </div>

        <div class="weather-item">
          <div>Sunrise</div>
          <div>
            <ch5-jointotext-string receiveStateValue="MainPage.Current_SunriseState"
              textWhenEmpty="06:40 am">
            </ch5-jointotext-string>
          </div>

        </div>
        <div class="weather-item">
          <div>Sunset</div>
          <div>
            <ch5-jointotext-string receiveStateValue="MainPage.Current_SunsetState"
            textWhenEmpty="18:54 pm">
          </ch5-jointotext-string>
          </div>
        </div>
      </div>
    </div>

    <div class="logo">
      <img src="./app/project/assets/img/Logo/CaliLogo.png" alt="calilogo" />
    </div>

    <div class="future-forecast">   
      <div class="weather-forecast" id="weather-forecast">   
      <ch5-subpage-reference-list id="ch5-subpage-reference-list_id"
        widgetId="weather-forecast-item"
        orientation="horizontal"
        scrollbar="false"
        centerItems="false"
        endless="false"
        numberOfItems="7"
        indexId="idx"
        loadItems="all"
        scrollToPosition="0">
      </ch5-subpage-reference-list>
      </div>
    </div>
  </div>
</template>

<template id="weather-forecast-item">
  <div class="weather-forecast-item" data-ch5-appendclass="MainPage.Weather.WeekDay[{{idx}}].Active_State">
    <div class="day"><ch5-jointotext-string receiveStateValue="MainPage.Weather.WeekDay[{{idx}}].WeekDay_Label"
      textWhenEmpty="Week Day- {{idx}}">
    </ch5-jointotext-string></div>
    <ch5-image alt="weather icon"
      height="100px"
      width="100px"
      receivestateurl="MainPage.Weather.WeekDay[{{idx}}].WeatherIcon_Url"
      url="./app/project/assets/img/WeatherIcon/11d@4x.png">
    </ch5-image>
    <div class="temp">Night - <ch5-jointotext-string receiveStateValue="MainPage.Weather.WeekDay[{{idx}}].Night_Temp"
      textWhenEmpty="26.9">
    </ch5-jointotext-string>&#176; C
    </div>
    <div class="temp">Day - <ch5-jointotext-string receiveStateValue="MainPage.Weather.WeekDay[{{idx}}].Day_Temp"
      textWhenEmpty="36.7">
    </ch5-jointotext-string>&#176; C
    </div>
  </div>
</template>
