<template id="coloredbuttons-widget"> 
    <div class="coloredbuttons-widget" aria-labelledby="Coloredbuttons"> 
        <div class="colored-buttons">
            <ch5-button id="btn_id" sendeventonclick="VideoPage.ControlButtons.Red_Press" receivestateselected="VideoPage.ControlButtons.RedButton_State" shape="circle"  type="danger"></ch5-button>
          </div>
          <div class="colored-buttons">
            <ch5-button id="btn_id" sendeventonclick="VideoPage.ControlButtons.Green_Press" receivestateselected="VideoPage.ControlButtons.GreenButton_State" shape="circle"  type="success"></ch5-button>
          </div>
          <div class="colored-buttons">
            <ch5-button id="btn_id" sendeventonclick="VideoPage.ControlButtons.Yellow_Press" receivestateselected="VideoPage.ControlButtons.YellowButton_State" shape="circle"  type="warning"></ch5-button>
          </div>
          <div class="colored-buttons">
            <ch5-button id="btn_id" sendeventonclick="VideoPage.ControlButtons.Blue_Press" receivestateselected="VideoPage.ControlButtons.BlueButtonState" shape="circle"  type="info"></ch5-button>
          </div>
    </div>
</template>
