<section id="shadespage-page" class="details-container" aria-labelledby="Shadespage">
    <div class="shades-container">
        <ch5-subpage-reference-list
            id="ch5-subpage-reference-list_id"
            widgetId="shadezone-widget"
            orientation="vertical"
            centerItems="false"
            endless="false"
            numberOfItems="20"
            columns="2"
            indexId="idx"
            loadItems="all"
            scrollToPosition="0">
      </ch5-subpage-reference-list>
    </div>   
</section>